.team-heading {
  background: linear-gradient(to right, #375b74, #67808d);
  color: white;
  font-family: "Playfair Display", serif;
}

.heading {
  font-size: 60px;
}

.employee-card {
  background-color: skyblue;
  font-family: "Playfair Display", serif;
  margin: 20px 20px;
  width: 25%;
  text-transform: capitalize;
  box-shadow: 2px 3px 9px 0px;
}
.team-area {
  flex-wrap: wrap;
}
